@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

h2 {
    display: inline;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    
    "Sidebar Header"
    "Sidebar Main"
    "Footer Footer";
}

a {
    text-decoration: none;
    color: black;
}

a:hover, button:hover, .avis:hover, .avi:hover, .srch-icon:hover, .alrm:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

header {
    grid-area: Header;
    height: 25vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

footer {
    background-color: #FFF;
    grid-area: Footer;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0%;
}

input[type=search] {
    border: none;
    background-color: #e2e8f0;
    border-radius: 2vmin;
    -webkit-border-radius: 2vmin;
    -moz-border-radius: 2vmin;
    -ms-border-radius: 2vmin;
    -o-border-radius: 2vmin;
    width: 90%;
    height: 4.5vh;
    padding: 10px;
    
}

input[type=search]::after {
    background-color: #FFF;
    border: 0px;
}

hr {
    flex-shrink: 1;
    width: 100%;
}

.info {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    justify-self: end;
    margin-right: 5vmin;
}

.alrm {
    justify-self: end;
}

.align {
    display: flex;
    align-items: center;
    width: fit-content;
}

.white {
    color: #FFF;
    font-size: 1em;
}

.search-container {
    width: 95%;
    margin-left: 5vmin;
    
}

.srch-icon {
    margin-right: 2vmin;
}

.btn-container {
    height: fit-content;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.btn-item {
    border: none;
    width: 12vmin;
    height: 4vmin;
    background-color: #1992d4;
    border-radius: 2vmin;
    -webkit-border-radius: 2vmin;
    -moz-border-radius: 2vmin;
    -ms-border-radius: 2vmin;
    -o-border-radius: 2vmin;
}

.account-info {
    margin-left: 5vmin;
    width: fit-content;
    gap: 2vmin;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    
    "Avi Greet"
}

.greeting {
    grid-area: Greet;
}

.handle {
    margin-top: 5vmin;
}

.main-container {
    background-color: #e2e8f0 ;
    grid-area: Main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:

    "Middle Ann"
    "Middle Trend";

}

.middle {
    background-color: #e2e8f0;
    grid-area: Middle;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    margin: 30px;
    gap: 30px;
}

.announcement-item {
    background-color: #FFF;
    grid-area: Ann;
    padding: 20px;
    height: fit-content;
    border-radius: 1.4vmin;
    -webkit-border-radius: 1.4vmin;
    -moz-border-radius: 1.4vmin;
    -ms-border-radius: 1.4vmin;
    -o-border-radius: 1.4vmin;
    margin: auto;
    width: 270px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex:1;
    margin-top: 30px;
    margin-right: 10px;
}

.announcement-item .par {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(122, 122, 122);
}

.para-main {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(122, 122, 122);
}

.trending-item {
    background-color: tomato;
    grid-area: Trend;
    margin-right: 10px;

    background-color: #FFF;
    padding: 20px;
    height: fit-content;
    border-radius: 1.4vmin;
    -webkit-border-radius: 1.4vmin;
    -moz-border-radius: 1.4vmin;
    -ms-border-radius: 1.4vmin;
    -o-border-radius: 1.4vmin;
    margin: auto;
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
    margin-right: 10px;
    margin-top: 10px;
}

.trending-items {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40px 40px;
    grid-template-areas: 
    "Avis NM"
    "Avis ST";
}

.bolder {
    font-weight: 900;
    grid-area: NM;
}

.status {
    grid-area: ST;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0%;
    color: rgb(122, 122, 122);
}

.avis {
    width: 6vmin;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    grid-area: Avis;
    margin-top: 12px;
    margin-left: 5px;
}

.sidebar-container {
    background-color:#1992d4;
    grid-area: Sidebar;
    display: flex;
    flex-direction: column;
    gap: 6vmin;
    font-weight:900;
    color: #FFF;
}

.sidebar-item1 {
    margin-top: 1vmin;
}

.sidebar-item2 {
    display: flex;
    flex-direction: column;
    gap: 2.5vmin;
    margin-left: 4vmin;
    color: #FFF;
}

.sidebar-item3 {
    display: flex;
    color: #FFF;
    flex-direction: column;
    gap: 2.5vmin;
    margin-left: 4vmin;
}

.icons {
    margin-right: 3vmin;
    width: 2.6vmin;
}

.all-icons {
    width: 3.2vmin;
}

.main-icon {
    width: 7vmin;
    margin-left: 2vmin;
}

.icon-parent {
    display: flex;
    align-items: center;
    gap: 2vmin;
}

.avi {
    width: 5vmin;
    height: auto;
    background-color: yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bigger-avi {
    width: 8vmin;
    height: auto;
    background-color: yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    grid-area: Avi;
}

.main-item {
    justify-self: center;
    align-self: center;
    border: 2px black;
    border-radius: 1.4vmin;
    -webkit-border-radius: 1.4vmin;
    -moz-border-radius: 1.4vmin;
    -ms-border-radius: 1.4vmin;
    -o-border-radius: 1.4vmin;
    width: 370px;
    height: 250px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    border-left: 7px solid #f0b429;
}

.main-paragraph {
    margin-left: 20px;
    margin-top: 10px;
}

.actions {
    justify-self: end;
    align-self: end;
    height: fit-content;
    margin-right: 20px;
    display: flex;
    width: 30%;
    justify-content: space-between;
}

header, .main-item{ /* , .announcement-item, .trending-item { */
    background-color: #FFF;
}