@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h2 {
    display: inline;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    
    "Sidebar Header"
    "Sidebar Main"
    "Footer Footer";
}

a {
    text-decoration: none;
}

header {
    background-color: #FFF;
    grid-area: Header;
}

footer {
    background-color: #FFF;
    grid-area: Footer;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0%;
}

.white {
    color: #FFF;
    font-size: 1.2em;
}

.main-container {
    background-color: burlywood;
    grid-area: Main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:

    "Middle Ann"
    "Middle Trend";

}

.middle {
    background-color: #e2e8f0;
    grid-area: Middle;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcement-item {
    background-color: blueviolet;
    grid-area: Ann;
}

.trending-item {
    background-color: tomato;
    grid-area: Trend;
}

.sidebar-container {
    background-color:#1992d4;
    grid-area: Sidebar;
    display: flex;
    flex-direction: column;
    gap: 4vmin;
    font-weight:900;
    color: #FFF;
}

.sidebar-item1 {
    margin-top: 1vmin;
}

.sidebar-item2 {
    display: flex;
    flex-direction: column;
    gap: 2.5vmin;
    margin-left: 4vmin;
    color: #FFF;
}

.sidebar-item3 {
    display: flex;
    color: #FFF;
    flex-direction: column;
    gap: 2.5vmin;
    margin-left: 4vmin;
}

.icons {
    margin-right: 3vmin;
    width: 2.6vmin;
}

.all-icons {
    width: 3.2vmin;
}

.main-icon {
    width: 7vmin;
    margin-left: 2vmin;
}

.icon-parent {
    display: flex;
    align-items: center;
    gap: 2vmin;
}

.avis {
    width: 8vmin;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avi {
    width: 7vmin;
    height: auto;
    background-color: yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bigger-avi {
    width: 10vmin;
    height: auto;
    background-color: yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-item, .announcement-item, .trending-item {
    background-color: #FFF;
}